extends ../layout

block head
	style.
		.checkbox {
			margin: 0 5px;
			display: inline;
		}
		#search {
			margin: 20px 0;
		}

block defer
	script(src='/socket.io/socket.io.js')
	script(src='/js/participant.js')

block content

	header.page-header
		h3 Participants
			each y in years
				|&nbsp
				if y == year
					small #{y}
				else
					small
						a(href="/participant/#{y}")=y
			|&nbsp
			small
				a(href="/participant/new") New
						
	section
		input.form-control(id="search" placeholder="Search...")


	section
		table.table.table-striped
			thead
				tr
					th Index
					th Name
					th Email
					th Year
					th Created at
					th Days
					th Actions
			tbody
				each participant, index in participants
					tr
						td #{index}
						td #{participant.name}
						td #{participant.email}
						td #{participant.year}
						td #{moment(participant.created_at).format('DD/MM/YYYY')}
						td
							if !!participant.days && !!participant.days[0]
								each day in participant.days
									.checkbox.days
										label
											input(type="checkbox" checked=day.present data-day="#{day._id}" data-participant="#{participant.email}")
											|#{day.name}
						td
							form(method='POST' action="/participant/#{participant._id}?_method=DELETE" onsubmit="return main.confirmDelete(#{JSON.stringify(participant.email)})")
								button.btn-link(type="submit")
									span.glyphicon.glyphicon-trash(aria-hidden="true")
